<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/show.css">
    <title>Document</title>
</head>
<body>
    <h2>@<%=post.username%></h2>
    <h4><%=post.content%></h4>
     <a href="http://localhost:8080/posts/<%=post._id%>/edit" class="action-btn">Add</a>
    <% for (image of post.images){  %>
        <div class="cont">
            <img src="<%=image.url%>" alt="image">
            <form method="POST" action="/posts/<%= post._id %>/images/<%=image._id%>?_method=DELETE">
                <button id="formbtn">Delete</button>
            </form>
        </div>
       
    <% } %>
</body>
</html>